html, body {
  margin: 20px;
}

.translation:first-child .up {
  color: grey;
  cursor: default;
  pointer-events: none;
}

.translation:last-child .down {
  color: grey;
  cursor: default;
  pointer-events: none;
}

.actions button[disabled="disabled"] {
  color: grey;
  cursor: default;
  pointer-events: none;
}

.existing .separator {
  height: 10px;
}
.new .separator {
  height: 20px;
}

td.active {
  background-color: #98FB98;
}

td.inactive {
  background-color: #fb9898;
}
