@import 'bower_components/fontawesome/scss/font-awesome';

html, body {
  margin: 20px;
}

.translation:first-child .up {
  color: grey;
  cursor: default;
  pointer-events: none;
}

.translation:last-child .down {
  color: grey;
  cursor: default;
  pointer-events: none;
}
