<ul>
  {{#each}}
    <li>
      {{#link-to 'token' this}}
        {{id}}
      {{/link-to}}
    </li>
  {{else}}
    <li>No tokens found.</li>
  {{/each}}
</ul>

{{#link-to 'tokens.new'}}New token{{/link-to}}
