<div class='existing-translation-actions'>
  <button class='up' {{action 'up' priority}}>{{fa-icon "arrow-up"}}</button>
  <button class='down' {{action 'down' priority}}>{{fa-icon "arrow-down"}}</button>
</div>
