<table border=1>
  <tbody class="existing">
  {{#each controller}}
  {{#if isRest}}
  <tr class="separator">
  </tr>
  {{/if}}
  {{partial 'translation'}}
  {{/each}}
  </tbody>

  {{outlet}}

</table>

{{#link-to 'translations.new'}}New translation{{/link-to}}
